@import 'variables';
.page-header{
	text-align: center;
	// background-color: green;
	// width: 500px;
	height: 125px;
	margin: 0px 0px 10px 0px;
	padding: 0px;

	.searchBox{
		float: left;
		margin: 30px 0px 0px 0px;
		width: 100px;

	}
	
	.siteName{
		font-family: impact;
		margin: 0px 0px 0px -50px;
	}
	nav{
		border-radius: 0px;
		background-color: #999;
		label{
			margin: 10px 30px 0px 30px;
		}
	}
}
//          ---------    Shirts    ---------

.shirts{
	li{
		margin: $marginListItem;
		width: $liWidth;
		height: $liHeight;
		background-color: $backColorShirts;
		list-style-type: none;
		float: left;
	}
}

