<!DOCTYPE html>
<html lang="en" ng-app='MainApp'>
<head>
	<meta charset="UTF-8">
	<title>Mean-Demo</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>

	<div class="container">
		<div class="page-header">
		  <input type='search' class='searchBox'>
		  <label class='siteName'><h1>ChrisFitGear<small>.com</small></h1></label>

		  <nav class="navbar navbar-default ">
		  <div >
		    <label>Tops</label><label>Bottoms</label><label>Shoes</label>
		  </div>
			</nav>
		</div>
		
		<h1>From Server</h1>


	<div class='cris'></div>



	</div>

	{{ 7*7 }}
	<div ng-controller='ShirtsController as ctrl'>
		
		The hardcoded shirts count is: {{ctrl.testShirtsArr.length}}

		
		<ul>
			<li ng-repeat='shirt in ctrl.shirtsArray'>
				{{ shirt.name }} -- {{ shirt.color }}
				<button ng-click='ctrl.deleteShirt()'>Delete</button>
			</li>
		</ul>



		<form ng-submit='ctrl.addShirt()'>
			
			<input type='text' placeholder='shirt name' ng-model='ctrl.newShirtName'></input>
			<input type='text' placeholder='color' ng-model='ctrl.newShirtColor'></input>
			<button>Add Shirt</button>

		</form>


	</div>

	<div ui-view></div>

	<div ng-controller='ShortsController as ctrl'>
		



	</div>
	<div ng-controller='HoodiesController as ctrl'>
		



	</div>



	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>

	<script src="/js/main/app.js"></script>
	<script src="/js/main/main.controllers.js"></script>
	<script src="/js/routes.js"></script>
	
</body>
</html>
